* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --Softblue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --MainBg: hsl(217, 54%, 11%);
  --ContainerBg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

body {
  min-width: 100vh;
  background-color:var(--MainBg);
  color: var(--Softblue);
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.conteiner {
  width: 350px;
  background-color: var(--ContainerBg);
  border-radius: 1rem;
  padding: 25px;
  font-family: "Outfit", sans-serif;
}

.img-container {
  position: relative;
  width: 300px;
}

.equa-img {
  width: 100%;
  border-radius: 8px;
}

.icon-view{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  content-visibility: hidden;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

}

.icon-view:hover{
  content-visibility: visible;
  background-color:  hsl(178, 100%, 50%, .3 );
  cursor: pointer;
}

.icon-view img {
  width: 50px;
  height: 50px;
  
}

.title {
  color: var(--White);
  font-size: 1.3rem;
  padding: 1.5rem 0;
  font-weight: 600;
}

#author:hover ,  .title:hover{
  color: var(--Cyan);
  cursor: pointer;
}

.description {
  font-size: 1.125rem;
}

.numbers-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 0;
  border-bottom: solid 3px var(--line);
}

.ammount {
  color: var(--Cyan);
  letter-spacing: 2px;
}


.time {
  display: flex;
  align-items: center;
  gap: .5rem;
}


.jules {
  padding-top: 1rem;
  display: flex;
}


.avatar {
  width: 2.2rem;
  border: 1px solid var(--White);
  border-radius: 50%;
}

.jules p {
  display: flex;
  align-items: center;
  padding-left:1rem;
}

#author {
  color: var(--White);
  padding-left: .3rem;
}

