* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Softblue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --MainBg: hsl(217, 54%, 11%);
  --ContainerBg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

body {
  min-width: 100vh;
  background-color: var(--MainBg);
  color: var(--Softblue);
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.conteiner {
  max-width: 22rem;
  background-color: var(--ContainerBg);
  border-radius: 1rem;
  padding: 1.5rem;
  font-family: "Outfit", sans-serif;
  box-shadow: 0rem 1.5rem 0rem 1rem hsla(216, 50%, 5%, .1), 0rem -1rem 0rem 1rem hsla(216, 50%, 5%, .1);
}

.img-container {
  position: relative;
  width: 19rem;
}

.equa-img {
  width: 100%;
  border-radius: 8px;
}

.icon-view {
  position: absolute;
  width: 19rem;
  height: 19rem;
  top: 0;
  content-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.icon-view:hover {
  content-visibility: visible;
  background-color: hsl(178, 100%, 50%, 0.3);
  cursor: pointer;
}

.icon-view img {
  width: 3rem;
  height: 3rem;
}

.title {
  color: var(--White);
  font-size: 1.4rem;
  padding: 1.3rem 0;
  font-weight: 600;
}

#author:hover,
.title:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.description {
  font-size: 1.125rem;
}

.numbers-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 0;
  border-bottom: solid 3px var(--line);
}

.ammount {
  color: var(--Cyan);
  font-weight: 600;
}

.time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.jules {
  padding-top: 1rem;
  display: flex;
}

.avatar {
  width: 2.2rem;
  border: 1px solid var(--White);
  border-radius: 50%;
}

.jules p {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

#author {
  color: var(--White);
  padding-left: 0.3rem;
}
