* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vh;
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}
.conteiner {
  width: 400px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 1rem;
  padding: 25px;
  
  font-family: "Outfit", sans-serif;
}
.img-container {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 350px;
}

.equa-img {
  width: 100%;
}

.name {
  color: white;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.description {
  /* color: hsl(215, 51%, 70%); */
  font-size: 1.125rem;
}

.numbers-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.ammount {
  color: aqua;
}

.jules {
  display: flex;
}

.jules a {
  text-decoration: none;
  color: white;
}
.avatar {
  width: 3rem;
  border: 1px solid white;
  border-radius: 50%;
}

.jules p {
  color: hsl(215, 51%, 70%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  align-self: flex-end;
  color: white;
}

.attribution a {
  color: hsl(215, 51%, 70%);
}
